<h1>All Advertisements</h1>
<% @advertisements.each do |advertisement, copy, price| %>
<div class="media">
<div class="media-body">
  <h4 class="media-heading">
    <%= link_to advertisement.title, copy, price %>
  </h4>
</div>
</div>
  <% end %>
