<div class="vote-arrows pull-left">
  <div>
    <%= link_to " ", '#', class: 'glyphicon glyphicon-chevron-up' %>
  </div>
  <div>
    <strong><%= posts.points %></strong>
  </div>
  <div>
    <%= link_to " ", '#', class: 'glyphicon glyphicon-chevron-down' %>
  </div>
</div>
